<div class="form-container">
    <div class="form-inner">
        <div class="row-form" id="up">
            <h4>Pick-up</h4>
            <dl class="dropdown">
                <dt><i id="state">State</i><span>Please select the state</span></dt>
                <dd>
                    <ul>
                        <li><i>California</i></li>
                        <li><i>New York</i></li>
                        <li><i>Alabama</i></li>
                    </ul>
                </dd>
            </dl>
            <dl class="dropdown">
                <dt><i id="location">location</i><span>Please select the state</span></dt>
                <dd>
                    <ul>
                        <li><i>California</i></li>
                        <li><i>New York</i></li>
                        <li><i>Alabama</i></li>
                    </ul>
                </dd>
            </dl>
            <dl class="input" >
                <dt><i id="time-up">time</i></dt>
            </dl>
            <div class="check-form">
                <div class="squaredTwo check">
                    <input type="checkbox" value="None" id="squaredTwo" name="check" style="display: none"/>
                    <label for="squaredTwo"></label>

                </div>
                <i>Drop-off car in this location</i>
            </div>

        </div>
        <div class="row-form datepick" style="    border-bottom: 4px solid #ce2c34;
    border-top: 4px solid #ce2c34; text-align: center">
            <div class="demo-wrapper demo-wrapper-datetimeInvalid">
                <input style="display: none" id="datetimeInvalid-demo" placeholder="Please Select..." />

            </div>
        </div>
        <div class="row-form datepick-off" style="    border-bottom: 4px solid #ce2c34;
    border-top: 4px solid #ce2c34; text-align: center; ">
            <div class="demo-wrapper demo-wrapper-datetimeInvalid">
                <input style="display: none" id="datetimeInvalid-demo-off" placeholder="Please Select..." />

            </div>
        </div>
        <div class="row-form" id="off">
            <h4>Drop-off</h4>
            <dl class="dropdown">
                <dt><i id="state">State</i><span>Please select the state</span></dt>
                <dd>
                    <ul>
                        <li><i>California</i></li>
                        <li><i>New York</i></li>
                        <li><i>Alabama</i></li>
                    </ul>
                </dd>
            </dl>
            <dl class="dropdown">
                <dt><i id="location">location</i><span>Please select the state</span></dt>
                <dd>
                    <ul>
                        <li><i>California</i></li>
                        <li><i>New York</i></li>
                        <li><i>Alabama</i></li>
                    </ul>
                </dd>
            </dl>
            <dl class="input">
                <dt><i id="time-off">time</i></dt>
            </dl>
            <span id="count-properties-container-outer"><span class="loader" style="display: none;"></span><span id="count-properties-container">6</span>auto found</span>
        </div>
        <div class="row-form" style="    text-align: right;    padding-right: 80px;">

            <button class="advanced-search-link" name="advanced" value="1">Advanced search</button>
            <input class="transition" type="submit" value="See results">
        </div>
    </div>
</div>