/*$blue: #3bbfce;  цвет
$margin: 16px;
$fontSize: 14px;

.content{
  border: 1px $blue solid;
  color: darken($blue, 20%);
}
h1{
  color: $blue;
  font-size: 14px;
}

.item img{
  display: block;
  width: 100%;
  height: auto;
}*/

#header{

}